body > div > header > h1 {
    text-align: center;
    margin-top: 0px;
}

article {
    overflow: hidden;
}

article > md-toolbar > .md-button {
    transition: all 0.5s;
}

article.open > md-toolbar > .md-button {
    transform: rotate(90deg);
}

article > md-toolbar > .md-button > md-icon {
    color: white;
}

article > md-list > md-list-item {
    margin-top: -30%;
    transition: margin-top 0.5s;
}

article.open > md-list > md-list-item {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

#eorzeadb_tooltip {
    z-index: 10;
}
