<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.christopheBoucaut.ffxivChasse" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FFXIV Chasse</name>
    <description>
        Outil d'aide à la chasse pour FFXIV
    </description>
    <author email="boucaut.christophe@gmail.com" href="http://www.christophe-boucaut.fr">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <platform name="android">
        <icon src="res/icon/android/xxhdpi.png" density="ldpi"/>
        <icon src="res/icon/android/xxhdpi.png" density="mdpi"/>
        <icon src="res/icon/android/xxhdpi.png" density="hdpi"/>
        <icon src="res/icon/android/xxhdpi.png" density="xhdpi"/>
        <icon src="res/icon/android/xxhdpi.png" density="xxhdpi"/>
    </platform>
</widget>
